RewriteEngine On

RewriteRule ^$ /login [L,R=301]

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTPS} off
    RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
</IfModule>

RewriteRule ^login$ /src/modulos/publico/pages/publico-login.php [L]
RewriteRule ^perfil$ /src/modulos/publico/pages/publico-editar-perfil.php [L]
RewriteRule ^alterar-senha$ /src/modulos/publico/pages/publico-alterar-senha.php [L]
RewriteRule ^inicio$ /src/modulos/publico/pages/publico-inicio.php [L]
RewriteRule ^controle$ /src/modulos/publico/pages/publico-controle.php [L]
RewriteRule ^lancamentos$ /src/modulos/publico/pages/publico-controle-lancamentos.php [L]
RewriteRule ^nova-senha$ /src/modulos/publico/pages/publico-setar-nova-senha.php [L]

RewriteRule ^logout$ /src/modulos/publico/backend/logout.php [L]
RewriteRule ^get-saldos$ /src/modulos/publico/backend/publico-get-saldos.php [L]
RewriteRule ^get-movimentacoes-dia$ /src/modulos/publico/backend/publico-get-movimentacoes-dia.php [L]
RewriteRule ^login-usu$ /src/modulos/publico/backend/login.php [L]
RewriteRule ^get-info-card$ /src/modulos/publico/backend/publico-controle-get-info-card.php [L] 
RewriteRule ^save-saldo$ /src/modulos/publico/backend/publico-salvar-saldo-inicial.php [L] 
RewriteRule ^save-credit-card$ /src/modulos/publico/backend/publico-salvar-cartao-credito.php [L] 
RewriteRule ^get-saldo-inicial$ /src/modulos/publico/backend/publico-get-saldo-inicial.php [L] 
RewriteRule ^get-movimentation$ /src/modulos/publico/backend/publico-get-movimentacoes.php [L] 
RewriteRule ^save-movimentation$ /src/modulos/publico/backend/publico-salvar-movimentacao.php [L] 
RewriteRule ^get-plano$ /src/modulos/publico/backend/publico-get-plano-contas.php [L] 
RewriteRule ^get-plano-card$ /src/modulos/publico/backend/publico-get-plano-contas-cartao.php [L] 
RewriteRule ^get-plano-minucioso$ /src/modulos/publico/backend/publico-get-plano-contas-minucioso.php [L] 
RewriteRule ^get-movimentation-card$ /src/modulos/publico/backend/publico-get-movimentacoes-card.php [L] 
RewriteRule ^save-movimentation-card$ /src/modulos/publico/backend/publico-salvar-movimentacao-card.php [L] 
RewriteRule ^get-movimentation-month$ /src/modulos/publico/backend/publico-get-movimentacoes-mes.php [L] 
RewriteRule ^get-cards$ /src/modulos/publico/backend/publico-get-cartoes.php [L] 
RewriteRule ^get-saldos-ano$ /src/modulos/publico/backend/publico-get-saldos-ano.php [L] 
RewriteRule ^get-porcentagem$ /src/modulos/publico/backend/publico-get-porcentagem-mensal.php [L] 
RewriteRule ^save-minucioso$ /src/modulos/publico/backend/publico-salvar-minucioso.php [L] 
RewriteRule ^get-minucioso$ /src/modulos/publico/backend/publico-get-minucioso.php [L] 
RewriteRule ^get-pagar-receber$ /src/modulos/publico/backend/publico-get-pagar-receber.php [L] 
RewriteRule ^pagar-receber$ /src/modulos/publico/backend/publico-pagar-receber.php [L] 
RewriteRule ^get-saldos-cartao$ /src/modulos/publico/backend/publico-get-saldos-cartao.php [L] 
RewriteRule ^pagar-cartao$ /src/modulos/publico/backend/publico-pagar-cartao.php [L] 
RewriteRule ^get-saldo-final-mensal$ /src/modulos/publico/backend/publico-get-saldo-final-ano.php [L] 
RewriteRule ^info-user$ /src/modulos/publico/backend/publico-get-dados-usu.php [L] 
RewriteRule ^editar-perfil$ /src/modulos/publico/backend/publico-editar-perfil.php [L] 
RewriteRule ^criar-usuario$ /src/modulos/publico/backend/publico-criar-usuario.php [L] 
RewriteRule ^delete-mov$ /src/modulos/publico/backend/publico-delete-movimentation.php [L] 
RewriteRule ^edit-password$ /src/modulos/publico/backend/publico-change-password.php [L] 
RewriteRule ^esqueceu-senha$ /src/modulos/publico/backend/publico-esqueceu-senha.php [L] 
RewriteRule ^valida-codigo$ /src/modulos/publico/backend/publico-valida-codigo-esqueceu-senha.php [L] 
RewriteRule ^setar-nova-senha$ /src/modulos/publico/backend/publico-nova-senha.php [L] 
RewriteRule ^delete-minucioso$ /src/modulos/publico/backend/publico-delete-minucioso.php [L] 

