RewriteEngine On

RewriteRule ^login$ /src/modulos/publico/pages/publico-login.php [L]
RewriteRule ^inicio$ /src/modulos/publico/pages/publico-inicio.php [L]
RewriteRule ^controle$ /src/modulos/publico/pages/publico-controle.php [L]
RewriteRule ^lancamentos$ /src/modulos/publico/pages/publico-controle-lancamentos.php [L]

RewriteRule ^get-saldos$ /src/modulos/publico/backend/publico-get-saldos.php [L]
RewriteRule ^get-movimentacoes-dia$ /src/modulos/publico/backend/publico-get-movimentacoes-dia.php [L]
RewriteRule ^login-usu$ /src/modulos/publico/backend/login.php [L]
RewriteRule ^get-info-card$ /src/modulos/publico/backend/publico-controle-get-info-card.php [L] 
RewriteRule ^save-saldo$ /src/modulos/publico/backend/publico-salvar-saldo-inicial.php [L] 
RewriteRule ^save-credit-card$ /src/modulos/publico/backend/publico-salvar-cartao-credito.php [L] 
RewriteRule ^get-saldo-inicial$ /src/modulos/publico/backend/publico-get-saldo-inicial.php [L] 
RewriteRule ^get-movimentation$ /src/modulos/publico/backend/publico-get-movimentacoes.php [L] 
RewriteRule ^save-movimentation$ /src/modulos/publico/backend/publico-salvar-movimentacao.php [L] 
RewriteRule ^get-plano$ /src/modulos/publico/backend/publico-get-plano-contas.php [L] 
RewriteRule ^get-plano-minucioso$ /src/modulos/publico/backend/publico-get-plano-contas-minucioso.php [L] 
RewriteRule ^get-movimentation-card$ /src/modulos/publico/backend/publico-get-movimentacoes-card.php [L] 
RewriteRule ^save-movimentation-card$ /src/modulos/publico/backend/publico-salvar-movimentacao-card.php [L] 
RewriteRule ^get-movimentation-month$ /src/modulos/publico/backend/publico-get-movimentacoes-mes.php [L] 
RewriteRule ^get-cards$ /src/modulos/publico/backend/publico-get-cartoes.php [L] 
RewriteRule ^get-saldos-ano$ /src/modulos/publico/backend/publico-get-saldos-ano.php [L] 
RewriteRule ^get-porcentagem$ /src/modulos/publico/backend/publico-get-porcentagem-mensal.php [L] 
RewriteRule ^save-minucioso$ /src/modulos/publico/backend/publico-salvar-minucioso.php [L] 
RewriteRule ^get-minucioso$ /src/modulos/publico/backend/publico-get-minucioso.php [L] 

